# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyi


# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db